backend/datasets/raw/test_ver2.csv
backend/datasets/raw/train_ver2.csv
backend/datasets/raw/
__pycache__/
*.pyc
.venv/
node_modules/

models/
backend/models/export/*.onnx

*.csv
.DS_Store
venv/
dist/
dist/*.apk

# Native build logs
mobile/modules/sdm-catboost/android/build/

